```
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.VC.db
*.VC.VC.opendb
*.user
*.userosscache
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.pidb
*.svclog
*.pdb
*.exp
*.lib
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.dcu
*.ddp
*.dos
*.dot
*.dox
*.dpk
*.dpl
*.dpu
*.dsb
*.dsk
*.dsm
*.dsp
*.dsr
*.dsw
*.eww
*.fsscript
*.fsx
*.had
*.hb2
*.hkdb
*.hki
*.hkk
*.hkx
*.hsl
*.htc
*.hxc
*.hxe
*.hxf
*.hxk
*.hxt
*.hxv
*.idl
*.iil
*.iml
*.ins
*.inx
*.ish
*.ism
*.iss
*.ite
*.itr
*.jar
*.java
*.jpx
*.jsx
*.jsa
*.jse
*.jsc
*.jsi
*.jsl
*.jso
*.jsp
*.jsr
*.jss
*.jst
*.jsx
*.jsy
*.jsz
*.kpf
*.ksm
*.ksr
*.kst
*.kt
*.ktr
*.kts
*.lastcodeanalysissucceeded
*.layout
*.ldf
*.ldx
*.les
*.lex
*.lfa
*.lfb
*.lfc
*.lfd
*.lfe
*.lff
*.lfg
*.lfh
*.lfi
*.lfj
*.lfk
*.lfl
*.lfm
*.lfn
*.lfo
*.lfp
*.lfq
*.lfr
*.lfs
*.lft
*.lfu
*.lfv
*.lfw
*.lfx
*.lfy
*.lfz
*.lg
*.lgx
*.lhs
*.lid
*.lif
*.lil
*.lin
*.ll
*.llb
*.llo
*.lma
*.lmc
*.lmd
*.lmf
*.lmg
*.lmh
*.lmi
*.lmj
*.lmk
*.lml
*.lmm
*.lmn
*.lmo
*.lmp
*.lmq
*.lmr
*.lms
*.lmt
*.lmu
*.lmv
*.lmw
*.lmx
*.lmy
*.lmz
*.ln
*.log
*.lox
*.lp
*.lpa
*.lpb
*.lpc
*.lpd
*.lpe
*.lpf
*.lpg
*.lph
*.lpi
*.lpj
*.lpk
*.lpl
*.lpm
*.lpn
*.lpo
*.lpp
*.lpq
*.lpr
*.lps
*.lpt
*.lpu
*.lpv
*.lpw
*.lpx
*.lpy
*.lpz
*.lqa
*.lqb
*.lqc
*.lqd
*.lqe
*.lqf
*.lqg
*.lqh
*.lqi
*.lqj
*.lqk
*.lql
*.lqm
*.lqn
*.lqo
*.lqp
*.lqq
*.lqr
*.lqs
*.lqt
*.lqu
*.lqv
*.lqw
*.lqx
*.lqy
*.lqz
*.ls
*.lsm
*.lst
*.lsx
*.lt
*.lta
*.ltb
*.ltc
*.ltd
*.lte
*.ltf
*.ltg
*.lth
*.lti
*.ltj
*.ltk
*.ltl
*.ltm
*.ltn
*.lto
*.ltp
*.ltq
*.ltr
*.lts
*.ltt
*.ltu
*.ltv
*.ltw
*.ltx
*.lty
*.ltz
*.lua
*.m
*.map
*.master
*.mdf
*.min.js
*.mix
*.mk
*.mjs
*.ml
*.mli
*.mlp
*.mm
*.mod
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.mqh
*.mqi
*.mqo
*.mqp
*.mqt
*.mqv
*.mrb
*.ms
*.msi
*.msp
*.mst
*.mtx
*.mud
*.mum
*.mup
*.mur
*.mus
*.mut
*.mux
*.mv
*.mvc
*.mvt
*.mvx
*.mw
*.mws
*.mx
*.mx3
*.mxml
*.mxp
*.mxs
*.myapp
*.mys
*.myt
*.n
*.nc
*.nd
*.nds
*.ne
*.ned
*.net
*.new
*.nib
*.nic
*.nid
*.nif
*.nih
*.nik
*.nil
*.nim
*.nimble
*.nimrod
*.nit
*.nix
*.nj
*.njb
*.njk
*.nl
*.nls
*.nm
*.no
*.noblank
*.noc
*.nod
*.nof
*.nog
*.noh
*.noi
*.noj
*.nok
*.nol
*.nom
*.non
*.nop
*.noq
*.nor
*.nos
*.not
*.nov
*.now
*.nox
*.noy
*.noz
*.np
*.npf
*.npi
*.npl
*.npmignore
*.npr
*.nps
*.nq
*.nr
*.ns
*.nsi
*.nsp
*.nst
*.nsu
*.nt
*.ntp
*.nts
*.nuget
*.nupkg
*.nuspec
*.nv
*.nvc
*.nvp
*.nvw
*.nw
*.nwp
*.nx
*.ny
*.nz
*.o
*.obj
*.od
*.odb
*.odc
*.odf
*.odg
*.odi
*.odm
*.odp
*.ods
*.odt
*.ody
*.oe
*.oem
*.of
*.off
*.ofm
*.ofs
*.og
*.oga
*.ogg
*.ogv
*.ogx
*.oh
*.oi
*.oil
*.oj
*.ok
*.okt
*.ol
*.old
*.omf
*.omg
*.omn
*.on
*.one
*.ong
*.onion
*.oo
*.op
*.opc
*.opf
*.opml
*.opp
*.ops
*.opt
*.opus
*.or
*.ora
*.orf
*.org
*.ori
*.orm
*.orx
*.os
*.osc
*.osd
*.ose
*.osf
*.osi
*.osl
*.osp
*.ost
*.ot
*.ota
*.otb
*.otf
*.otg
*.oth
*.oti
*.otp
*.ots
*.ott
*.ou
*.ov
*.ova
*.ovf
*.ovpn
*.ow
*.ox
*.oy
*.oz
*.p
*.p12
*.p7b
*.p7c
*.pac
*.pas
*.patch
*.pat
*.pb
*.pbd
*.pbi
*.pbl
*.pbm
*.pbn
*.pbo
*.pbp
*.pbt
*.pbw
*.pbxproj
*.pbxuser
*.pbxproj.user
*.pc
*.pcf
*.pcl
*.pcls
*.pct
*.pcx
*.pd
*.pde
*.pdf
*.pdk
*.pdm
*.pdp
*.pds
*.pdt
*.pdv
*.pe
*.pem
*.per
*.perl
*.pex
*.pf
*.pfa
*.pfb
*.pfm
*.pfx
*.pg
*.pgd
*.pgm
*.pgp
*.php
*.php3
*.php4
*.php5
*.phps
*.phtml
*.pic
*.pict
*.pid
*.pif
*.pig
*.pil
*.pit
*.pj
*.pkg
*.pkl
*.pkpass
*.pks
*.pl
*.plb
*.plc
*.pld
*.ple
*.plf
*.pli
*.plj
*.plk
*.pll
*.plm
*.plo
*.plr
*.pls
*.plt
*.plv
*.plx
*.ply
*.pm
*.pm6
*.pmd
*.pml
*.pmp
*.pmr
*.pmt
*.pni
*.pnt
*.po
*.pod
*.por
*.pot
*.potm
*.potx
*.pp
*.ppa
*.ppam
*.ppd
*.ppm
*.pps
*.ppsm
*.ppsx
*.ppt
*.pptm
*.pptx
*.pq
*.pr
*.prc
*.prf
*.prg
*.pri
*.prj
*.prm
*.pro
*.prof
*.properties
*.props
*.ps
*.psc
*.psd
*.psd1
*.psf
*.psm
*.psm1
*.psp
*.pst
*.pt
*.pth
*.ptl
*.pto
*.pts
*.pub
*.pv
*.pvd
*.pw
*.pwd
*.pwi
*.pwl
*.pwn
*.px
*.pxd
*.pxi
*.py
*.pyc
*.pyd
*.pyo
*.pz
*.q
*.qbs
*.qcp
*.qd
*.qdoc
*.qed
*.qf
*.qfx
*.qif
*.qll
*.qml
*.qmlproject
*.qmltypes
*.qrc
*.qss
*.qt
*.qti
*.qtl
*.qtm
*.qts
*.qtsci
*.qvw
*.qxd
*.r
*.r3d
*.ra
*.ram
*.rar
*.ras
*.raw
*.rb
*.rbw
*.rc
*.rc2
*.rcc
*.rcs
*.rd
*.rdf
*.rdlc
*.re
*.reg
*.res
*.resx
*.rgs
*.rgb
*.rif
*.rip
*.rl
*.rm
*.rmi
*.rmvb
*.rn
*.rng
*.ro
*.rob
*.ros
*.rp
*.rpm
*.rq
*.rr
*.rs
*.rsd
*.rsm
*.rss
*.rst
*.rt
*.rtf
*.ru
*.ruby
*.rv
*.rw
*.rx
*.s
*.safetensors
*.sas
*.sav
*.sb
*.sbl
*.sbn
*.sc
*.scala
*.sce
*.scf
*.sci
*.scl
*.sco
*.scp
*.scr
*.scss
*.scurl
*.sd
*.sdf
*.sdp
*.sds
*.sed
*.set
*.settings
*.sf
*.sfd
*.sfl
*.sg
*.sgb
*.sgf
*.sgi
*.sgl
*.sgm
*.sgml
*.sh
*.sha
*.shar
*.shell
*.sho
*.shtml
*.si
*.sic
*.sid
*.sig
*.sl
*.sla
*.slim
*.slk
*.sln.docstates
*.sln.old
*.sln.tlog
*.slnf
*.slp
*.sls
*.slt
*.sm
*.sma
*.smc
*.smd
*.smf
*.sml
*.smm
*.smx
*.snd
*.snk
*.snp
*.sql
*.sqlite
*.sqlite3
*.sqm
*.sr
*.src
*.srf
*.srt
*.ss
*.ssa
*.ssdl
*.sst
*.sua
*.sub
*.sum
*.sv
*.svg
*.svn-base
*.sw
*.swf
*.swift
*.swp
*.sx
*.sxc
*.sxd
*.sxg
*.sxi
*.sxm
*.sxw
*.sy
*.sys
*.sz
*.t
*.t2t
*.tag
*.tar
*.targets
*.taz
*.tb
*.tb2
*.tbl
*.tbp
*.tc
*.tcl
*.td
*.tea
*.tec
*.tex
*.text
*.tf
*.tfs
*.tga
*.tgz
*.thm
*.tif
*.tiff
*.tk
*.tlb
*.tld
*.tlh
*.tli
*.tlog
*.tlz
*.tmd
*.tml
*.tmp
*.tmo
*.tmproj
*.tmp_proj
*.tms
*.tmx
*.tn
*.toc
*.toml
*.top
*.tpl
*.tps
*.tr
*.tra
*.trx
*.ts
*.tsc
*.tsv
*.tsx
*.tt
*.ttl
*.ttx
*.tug
*.tv
*.tw
*.tx
*.txt
*.ty
*.tz
*.tzo
*.u
*.udf
*.ui
*.uil
*.ult
*.un~
*.unity
*.unx
*.uob
*.uos
*.upd
*.upf
*.upx
*.ur
*.url
*.urt
*.us
*.use
*.userprefs
*.utf
*.utf8
*.uvproj
*.uvprojx
*.v
*.vbs
*.vc
*.vc4
*.vcproj
*.vcproj.user
*.vcproj.userosscache
*.vcp
*.vcr
*.vcs
*.vcxproj.filters
*.vcxproj.user
*.vd
*.vdi
*.ve
*.vem
*.ver
*.vf
*.vfd
*.vfn
*.vg
*.vgx
*.vh
*.vhd
*.vhdx
*.vi
*.vid
*.vif
*.viv
*.vjp
*.vl
*.vm
*.vmdk
*.vml
*.vmp
*.vmsd
*.vmsn
*.vmss
*.vmt
*.vmtm
*.vmx
*.vmxf
*.vn
*.vob
*.vor
*.vp
*.vpc
*.vpd
*.vpg
*.vpl
*.vpp
*.vpr
*.vpt
*.vpw
*.vpx
*.vr
*.vro
*.vrp
*.vrs
*.vs
*.vscode
*.vsd
*.vsf
*.vsi
*.vsp
*.vss
*.vst
*.vsw
*.vsx
*.vtx
*.vu
*.vv
*.vw
*.vxd
*.w
*.w3x
*.wad
*.war
*.wav
*.wbk
*.wdp
*.webapp
*.webarchive
*.webm
*.webmanifest
*.wiz
*.wk
*.wk3
*.wk4
*.wkq
*.wks
*.wl
*.wm
*.wma
*.wmf
*.wml
*.wmv
*.wn
*.wo
*.wp
*.wp2
*.wp3
*.wp4
*.wp5
*.wp6
*.wp7
*.wp8
*.wpd
*.wpl
*.wpm
*.wps
*.wpt
*.wpw
*.wq
*.wr
*.wri
*.wrk
*.ws
*.ws2
*.wsf
*.wsh
*.wt
*.wtx
*.wu
*.wv
*.ww
*.www
*.wx
*.wy
*.wz
*.x
*.xaml
*.xap
*.xbm
*.xcf
*.xcl
*.xcmake
*.xco
*.xcworkspacedata
*.xdb
*.xdm
*.xdf
*.xdp
*.xdr
*.xdt
*.xdw
*.xeb
*.xel
*.xer
*.xev
*.xfg
*.xfl
*.xfo
*.xfp
*.xft
*.xfu
*.xgi
*.xgl
*.xgt
*.xib
*.xil
*.xla
*.xlam
*.xlb
*.xlc
*.xld
*.xlk
*.xll
*.xlm
*.xls
*.xlsb
*.xlsm
*.xlsx
*.xlt
*.xltm
*.xltx
*.xlw
*.xm
*.xmf
*.xmi
*.xml
*.xmp
*.xmt
*.xnb
*.xpi
*.xpl
*.xpm
*.xpr
*.xps
*.xpw
*.xpy
*.xq
*.xql
*.xqm
*.xquery
*.xqy
*.xr
*.xrm-ms
*.xsc
*.xsd
*.xsl
*.xslt
*.xsn
*.xsp
*.xspf
*.xss
*.xt
*.xtp
*.xul
*.xwd
*.xy
*.xyz
*.xz
*.y
*.yaml
*.yang
*.yin
*.yml
*.ymp
*.yy
*.z
*.zap
*.zdat
*.zeo
*.zep
*.zfo
*.zif
*.zip
*.zir
*.zlb
*.zlif
*.zo
*.zone
*.zoo
*.zpa
*.zpd
*.zpg
*.zpl
*.zpm
*.zps
*.zpt
*.zpu
*.zpx
*.zrh
*.zs
*.zsh
*.zsm
*.zt
*.ztd
*.zti
*.ztm
*.ztp
*.zts
*.ztx
*.zv
*.zw
*.zx
*.zy
*.zz
*.~
*.~lock*

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
Icon?
VolumeIcon.icns

# Environment specific files
.env
.env.local
.env.dev
.env.test
.env.prod
.env.backup
*.env
*.local
*.bak
*.bkp
*.orig
*.rej
*.swp
*.swo
*~

# User-specific files
*.userprefs
*.suo
*.user
*.aps
*.pidb
*.log
*.VC.VC.opendb
*.VC.db

# IDE - VSCode
.vscode/

# IDE - Visual Studio
*.VC.db
*.VC.VC.opendb
*.user
*.userosscache
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.vspscc
*.vssscc

# NuGet Packages
*.nupkg
!*.nupkg.sha512
*.snupkg
packages/
.nuget/
bin/Debug/
bin/Release/
obj/
```